.transition {
    transition: a11 .5s ease-in-out;
}
html{
        scroll-behavior: smooth;
}
body{
    background-color: #191919;
    position: relative;
}
:root {
    --main-color: rgb(255, 0, 149);
    --main-color2: rgba(255, 0, 149, 0.812);
    --text-color: #818181;
    --text2-color :#363636;
    --text3-color:#a2a2a2;
    /* --transition: a11 .5s ease-in-out; */
    --transition: all .5s ease;
    --custome-font: 'Source Sans Pro', sans-serif;
    --normal-font: "Roboto", sans-serif;
    scroll-behavior: auto;
}
.alert.search{
        box-shadow: 0 0 0 0.25rem var(--main-color) !important;
        background-color: var(--text2-color);
        outline: none;
        border: none;
}
.main-color{
    color: var(--main-color);
}
.bg-main-color {
    background-color: var(--main-color);
}
.bg-light-gray{
    background-color: var(--text-color);
}
.border-bottom{
    border-color: var(--text2-color) !important;
}
.border-color{
    border-color: var(--main-color);
}

.color-picker.show {
    transform: translateX(0);
}
.color-picker{
    transform: translateX(100%);
    top: 100px;
    height: 50px;
    cursor: pointer;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    z-index: 999;
}
.color-option {
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    display: inline-block;
}
li:focus-within .color-option {
    border-color: rgb(221, 221, 221);
}

li {
    outline: none;
}
.gear{
    left: -24px;
    top: 5px;
}
#icon{
    animation: rotate 2s linear infinite;
}

.color-options li div {
    height: 25px;
    border-radius: 30%;
    cursor: pointer;
}

.color-options li:nth-child(1) div {
    background-color: #d8006c;
}

.color-options li:nth-child(2) div {
    background-color: #8f00d1;
}

.color-options li:nth-child(3) div {
    background-color: #0049d1;
}

.color-options li:nth-child(4) div {
    background-color: #00c472;
}

.color-options li:nth-child(5) div {
    background-color: #babd00;
}

.color-options li:nth-child(6) div {
    background-color: #b86200;
}

.color-options li:nth-child(7) div {
    background-color: #ce0000;
}

.color-options li:nth-child(8) div {
    background-color: #b9006c;
}
@keyframes rotate {
    0% {
            transform: rotate(0deg);
        }
    
    100% {
        transform: rotate(360deg);
    }
}
/* -------------------------------------sidebar------------------------------------- */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000000000000000;
    top: 0;
    left: 0;
    background-color: var(--text2-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: var(--text-color);
    flex-direction: column;
}
.sidebar .links{
    flex-grow: 1;
}
.sidebar .links a:hover{
    color: var(--main-color);
}
.sidebar .copyright {
    display: block;
    transition: 0.3s;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #ffffff;
}
.sidebar .closebtn {
        z-index: 100000000;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    z-index: 100000000;
    font-size: 20px;
    height: 100vh;
    width: 60px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 0px;
    border: none;
}
.openbtn:hover {
    background-color: #444;
}
#main {
        z-index: 100000000;
    /*  */
    position: fixed;
    left: 0;
    top: 0;
    /*  */
    transition: margin-left .5s;

}
@media (max-width: 768px) {
    .openbtn {
        height: auto;
        width: auto;
        padding: 10px;
    }
}
/* -------------------------------------search bar------------------------------------- */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.search-bar {
    position: relative;
    width: 100%;
}
.search-bar input {
    border-radius: 50px;
    background-color: var(--text2-color);
    padding-right: 40px;
    border: none;
}
.form-control::placeholder {
    color: var(--text-color);
}
.search-bar button {
    position: absolute;
    color: var(--text-color);
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
.form-control {
    color: var(--text3-color);
    background-color: var(--text2-color);
    font-weight: bold;
    transition: var(--transition);
    border: none;
}
.form-control:focus {
    background-color: var(--text2-color);
    box-shadow: 0 0 0 0.25rem var(--main-color);
    font-weight: bold;
    color: var(--text3-color);
}
#results img:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
.back:hover{
background-color: var(--main-color);
}

/*movie container*/
.movieDetails {
    z-index: 1;
    top: -20px;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease, top .5s ease;

}

.movieDetails img {
    object-fit: cover;
    top: 0;
    left: 0;
}
.movieDetails .content{

    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow: auto;
    font-size: 0.7rem;

}
.movieBox:hover .movieDetails {

    opacity: 1;
    top: 0;
    z-index: 100;
}

.movieDetails::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    z-index: 101;
}

.movieDetails>div {
    position: relative;
    z-index: 102
}

/* small detail window */
.movie-details-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000000;
}

.movie-details-box {
    color: var(--text3-color);
    background-color: var(--text2-color);
    max-height: 80%;
    overflow-y: auto;
}

#close-icon:hover {
    color: rgb(163, 30, 30);
    cursor: pointer;
}

img {
    object-fit: cover;
}
#movie-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    /* Increased width */
    background-color: #212529;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

#close-icon {
    font-size: 30px;
}

/* -------------------------------------contact us------------------------------------- */

.invalid-input {
    border: 2px solid red;
}
#showPass {
    position: absolute;
    right: -30px;
    top: 0;
    cursor: pointer;
}
#submitBtn {
    transition: all .5s;
    border: 1px solid var(--main-color)
}

#submitBtn:hover {
    background-color: var(--main-color) !important;

}
.active-link {
    color: var(--main-color) !important;
}
.up {
    bottom: 20px;
    right: 20px;
    z-index: 1000;
transition: 0.5s;  
}
.up .btn:hover{
    background-color: var(--main-color);
}
.move-up:hover  i{
    animation: to-up 1s infinite linear ;}

@keyframes to-up 
{
    100%{
        transform: translateY(-30px);
    }
}

